.filters-modal {
    background-color: #f9f7f7;
    border: 1px solid #0000004a;
    overflow: hidden;
    position: relative;
    top: 0;
    border-radius: 13px;
    margin-bottom: 15px;
    padding: 10px;
}
.category-modal{
    width: 400px;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    
}
.category-cards{
    display: flex;
    flex-wrap: wrap;
}

.category__search--button {
    margin: 10px;
    padding: 6px 8px;
    color: black;
    background-color: #fff;
    border: 1px solid #00000085;;
    border-radius: 5px;
}
.category__clear--button {
    margin: 10px;
    padding: 6px 8px;
    color: #000;
    background-color: #fff;
    border: 1px solid #00000085;;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {

    .category-modal{
        width: 250px;
    }
}