.cart__drawer {
  height: 100%;
  background: #f9f9f9;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;

  top: 0;
  right: 0;
  min-width: 400px;
  width: 100%;
  min-height: 100vh;
  //transform: translate3d(100%, 0, 0);
  //transition: transform 0.3s ease-out;
  // overflow: scroll;
  z-index: 20;
}

@media screen and (min-width: 1279px) {
  .cart__drawer {
    right: 0;
    width: 375px;
  }
}

.cart__header {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #fff;
}

.cart__header span {
  margin-left: 10px;
}

.cart__header svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.cart__vazio {
  margin-left: 20px;
  color: #ccc;
  text-align: center;
}

.cart__footer {
  color: #fff;
  background-color: #212529;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
}

.product__notFound {
  height: 90vh;
  overflow-y: auto;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding: 16px;
}
