.productCard {
    padding: 1rem .25rem;
    position: relative;
    text-align: center;
    width: 50%;

    .card__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        
        .productCard__discount {
            position: absolute;
            padding: 3px 5px;
            top: 0;
            right: 0;

            font-size: 1.2rem;
            color: white;
            background-color: black;
        }

        .productCard__image {
            margin: 0;
            overflow: hidden;
            width: 100%;
            position: relative;
            
            img {
                width: 100%;
            }
        }
        .productCard__title {
            font-size: 1.3rem;
            font-weight: 600;
            margin-top: 1rem;
            margin-bottom: .5rem;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
        .productCard__details {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 5px 0 12px;
        }
        .productCard__regularPrice {
            margin-right: 1rem;
            font-size: 1.2rem;
            color: #a7a7a7;
            text-decoration: line-through;
        }
        .productCard__actualPrice {
            font-size: 1.4rem;
            color:#000;
        }
    }
}
@media screen and (max-width: 425px) {
    .productCard__about {
        display: none;
    }
}
@media screen and (min-width: 992px) {
    .productCard {
        width: 25%;
    }

    .productCard__image {
        margin: 0;
        overflow: hidden;
        width: 100%;
        position: relative;

        img {
            width: 100%;
        }

        .productCard__about {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .productCard__about__text,.productCard__about_itemName {
                width: 100%;
                text-align: center;
                opacity: 0;
                transform: translateY(-130%);
                transition-timing-function: ease-in;
                transition: 0s;
                display: flex;
                justify-content: center;
            }
        }

        &:hover {
            .productCard__about {
                transition: 0.5s all linear;
                background: rgba(0, 0, 0, 0.6);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            

                .productCard__about__text,.productCard__about_itemName {
                    transition: 0.45s;
                    transition-timing-function: ease-out;

                    transform: translateY(0);
                    opacity: 1;
                }
                .productCard__about_itemName {
                    display: inline;
                }
            }
        }
    }
    .productCard__about__text {
        display: flex;
        align-items: center;
        padding: 0px 15px;
        background-color: #ae895d;
        
        font-size: 13px;
        > svg {
            margin-right: 8px;
        }
    }
    .productCard__about h3 {
        color:#f1f1f1;
        font-size:13px;
        font-family: Noto Sans SC,sans-serif;
    }
    .productCard__about a i {
        color:white;
        font-size: 3em;
        transition: all 0.2s ease-in-out;
    }
    .productCard__about_itemName {
        display: none;
        margin-bottom: 15px;
    }
}