.productCard {
    padding: 1rem .25rem;
    position: relative;
    text-align: center;
    width: 50%;

    .card__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        
        .productCard__discount {
            position: absolute;
            padding: 3px 5px;
            top: 0;
            right: 0;

            font-size: 1.2rem;
            color: white;
            background-color: black;
        }

        .productCard__image {
            margin: 0;
            overflow: hidden;
            width: 100%;
            position: relative;
            
            img {
                width: 100%;
            }
        }
        .productCard__title {
            font-size: 1.3rem;
            font-weight: 600;
            margin-top: 1rem;
            margin-bottom: .5rem;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
        .productCard__details {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 5px 0 12px;
        }
        .productCard__regularPrice {
            margin-right: 1rem;
            font-size: 1.2rem;
            color: #a7a7a7;
            text-decoration: line-through;
        }
        .productCard__actualPrice {
            font-size: 1.4rem;
            color:#000;
        }
    }
}

@media screen and (min-width: 992px) {
    .productCard {
        width: 25%;
    }

    .productCard__about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index:1;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
    }
    .productCard__image:hover .productCard__about {
        visibility: visible;
        opacity: 1;
        transition: 0.4s all ease-in;
    }
    .productCard__about__text {
        display: flex;
        align-items: center;
        padding: 0px 15px;
        background: #c4a035;
        border: 1px solid #000000;    
        border-radius: 5px;
        font-size: 13px;
        > svg {
            margin-right: 8px;
        }
    }
    .productCard__about h3 {
        color:#f1f1f1;
        font-size:16px;
        font-family: Noto Sans SC,sans-serif;
    }
    .productCard__about a i {
        color:white;
        font-size: 3em;
        transition: all 0.2s ease-in-out;
    }
}