.product__image {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.product__image img {
  width: 100%;
}

@media screen and (min-width: 1279px) {
  .product__image {
    width: 50%;
    margin: 0;
  }

  .product__list .product__image {
    width: 25%;
  }
}
